/* src/components/UserCard.css */

.user-card {
  /* Styles for the user card container */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height:70vh;
  width:500px;
  margin:50px auto;


}

.account-settings-title {
  /* Styles for the account settings title */
  font-size: 20px;
  margin-bottom: 10px;
  text-align:left;
}

.content {
  /* Styles for the content container */
  display: flex;
  align-items: center;
}

.profile-picture-container {
  /* Styles for the profile picture container */
  position: relative;
  margin-right: 20px; /* Adjust margin as needed */
}

.profile-picture {
  /* Styles for the profile picture */
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.camera-icon {
  /* Styles for the camera icon container */
  position: absolute;
  bottom: -2px;
  right: 0px;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.additional-content{
  text-align:justify;
}